* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body, html {
    font-size: 14px;
    height: auto;
    color: #2d2d2d;
}

h1 {
    font-family: "raleway", sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
    color: white;
    font-weight: 500;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
}

footer {
    background: #242424;
}

/* Max Width Container */

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Brand Bag and Nav container */

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 15px;
}

.cart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 50%;
    padding-bottom: 15px;
}

.brand-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%;
    padding-bottom: 15px;
}

.brand-container img {
    width: 60%;
}

.cart-container img {
    width: 25%;
    -ms-flex-item-align: right;
    -ms-grid-row-align: right;
    align-self: right;
}

.nav-container {
    border-top: 1px solid #d7d7d7;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
}

.nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.navmenu a {
    font-family: 'Raleway', sans-serif;
    color: #e2574c;
    text-transform: uppercase;
    text-decoration: none;
}

.navmenu a:hover {
    color: #b64036;
}

/* Banner */

.collection-container {
    text-align: center;
}

.banner-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, 0.3))), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: center, center 100px, center;
    background-size: contain, contain, cover;
}

/* Hand-Crafted Styles */

.hand-crafted-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hand-crafted-p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 2.0rem;
    width: 85%;
    margin-top: 10px;
    font-size: 1.2rem;
}

/* applied to "Most-Loved Products" and "sign-up for updates"  aswell, to next comment */

h3 {
    font-size: 2.3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
}

.styles {
    font-weight: 500;
    font-style: normal;
    font-weight: bold;
}

/* to here */

/* Style's containers */

.styles-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* direction: row; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.styles-container p {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
}

.category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 3px solid white;
    width: 50%;
    height: 50vw;
}

.category p:hover {
    color: beige;
}

.category:first-child, .category:last-child {
    width: 100%;
}

.mens {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/mens-category.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/mens-category.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/mens-category.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/mens-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trends {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/trends-category.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/trends-category.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/trends-category.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/trends-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.glasses {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/glasses-category.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/glasses-category.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/glasses-category.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/glasses-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sale {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/sale-category.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/sale-category.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/sale-category.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/sale-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bags {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/bags-category.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bags-category.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bags-category.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bags-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.womens {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/womens-category.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/womens-category.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/womens-category.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/womens-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icons {
    display: none;
}

/* Carousel */

.carousel-cell {
    text-align: center;
    width: 100%;
    margin-right: 10px;
}

.most-loved-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.add-button {
    background-color: #e2574c;
    font-family: "railway-light", sans-serif;
    color: white;
    width: 30%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Playfair Display', serif;
    color: #e2574c;
    font-weight: 300;
    font-size: 1.6rem;
    Margin: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.carousel-cell p {
    font-family: "raleway", sans-serif;
    color: #969696;
    font-size: 0.8rem;
    margin: 20px;
}

h4 br {
    display: none;
}

/* subscribe Section */

.subscribe-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/wave-bkgd.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 60px;
}

.subscribe-container h3 {
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}

h5 {
    width: 100%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

form {
    border: 3px solid white;
}

.form-container {
    width: 90%;
    padding: 2px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-flow: flex;
    flex-flow: flex;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
}

input[type=email], input[type=submit] {
    padding: 10px;
    border: 1px solid white;
}

input[type=email] {
    width: 70%;
}

input::-webkit-input-placeholder {
    color: #969696;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

input:-ms-input-placeholder {
    color: #969696;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

input::-ms-input-placeholder {
    color: #969696;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

input::placeholder {
    color: #969696;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

input[type=submit] {
    width: 40%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    background-color: #e2574c;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.4rem;
}

.subscribe-container p {
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 95%;
    line-height: 2.2rem;
    font-size: 1.2rem;
    margin-bottom: 35px;
    font-weight: 300;
}

/* footer */

.footer-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    color: white;
}

.footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.socialmedia-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.smalltext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top: 20px solid #242424;
    line-height: 1.5rem;
    font-family: 'Playfair Display';
}

.smalltext p {
    border: 5px solid #242424;
}

.smalltext a {
    text-transform: none;
    color: white;
}

.footer-gray {
    color: #969696;
}

.fab-horizontal {
    border-bottom: 20px solid #242424;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
}

.socialmedia-container ul {
    width: 50%;
}

.socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: row;
    border-top: 20px solid #242424;
    border-bottom: 40px solid #242424;
    min-width: 100px;
}

.socialmedia li {
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    /* only applies at 600px or greater */
    body, html {
        font-size: 16px;
    }
    /* Tablet carousel */
    .carousel-cell {
        width: 50%;
    }
   h4 br {
        display: initial;
    }
    /*  Tablet Categories */
    .category {
        width: 25%;
        height: 25vw;
    }
    .category:first-child, .category:last-child {
        width: 50%;
    }
    /* Tablet Header section */
    .header-container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .cart-container {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 25%;
        padding: 0;
    }
    .nav-container {
        border-top: none;
        width: 50%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .nav-bar {
        width: 100%;
        margin-top: 15px;
    }
    .brand-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 25%;
    }
    .brand-container {
        width: 25%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        padding: 0;
    }
    .collection-br {
        display: none;
    }

    .subscribe-container p {
        width: 70%;
    }
    /* Most Loved Products media query */
    .most-loved-container {
        height: 30vw;
    }
    /* Tablet Footer */
    .smalltext {
        margin: 10px;
        border-top: 0;
        -ms-flex-line-pack: initial;
        align-content: initial;
    }

    .hand-crafted-p {
        width: 80%;
    }
    .footer-container {
        width: 100%;
        padding: 20px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .socialmedia-container {
        width: 50%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .footer-text .smalltext {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }
    .socialmedia li {
        margin: initial;
        text-align: left;
    }
    .icons {
        display: inline-block;
        padding: 5px;
    }

    i {
        margin-right: 1 rem;
    }
    

    .socialmedia-container ul {
        width: 30%;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        /* justify-content: space-between; */
    }
    .socialmedia {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        border-top: 0;
        border-bottom: 0;
    }

    .fab-horizontal .socialmedia ul {
        text-align: left;
    }
    /* Tablet Subscribe Section */
    .form-container {
        width: 60%;
    }
    input[type=email] {
        width: 75%;
    }
    input[type=submit] {
        width: 35%;
    }
}

@media screen and (min-width: 1240px) {
    .most-loved-container {
        height: 10vw;
    }
    h4 br {
        display: none;
    }
    .hand-crafted-p {
        width: 48%;
    }
    .form-container {
        width: 40%;
    }
    input[type=email] {
        width: 70%;
    }
    input[type=submit] {
        width: 30%;
    }
    .carousel-cell {
        width: 25%;
    }
    .nav-bar {
        margin-top: 20px;
    }

    .subscribe-container p {
        width: 60%;
    }
}