* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 14px;
    height: auto;
}

p {
    font-size: 20px;
}

a {
    color: #e2574c;
}

h1, h2 {
    font-family: "railway", sans-serif;
    color: white;
}

li {
    margin: 0 auto;
    list-style-type: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
}

footer {
    background: #242424;
}



.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-content: center;
    color: white;
}


.footer-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    /* align-content: center; */
    justify-content: space-around;
}

.socialmedia-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    /* align-content: center; */
    justify-content: space-evenly;
}

.smalltext {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    border-top: 20px solid  #242424;
}

.smalltext p {
    font-size: 8px;
    border: 5px solid  #242424;
}

.fab-horizontal {
    /* width: 100%; */
    border-bottom: 20px solid  #242424;
    align-content: center;
    width: 100%;
}

.socialmedia-container ul {
    align-content: center;
    width: 100%;
}





.fab-horizontal li {
    display: inline-block;
    width: auto;
  
}

.socialmedia li {
    border: 5px solid  #242424;
}


/* Max Width Container */

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Brand Bag and Nav container */

.header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.cart-container {
    display: flex;
    justify-content: flex-end;
    height: auto;
    order: 2;
    width: 50%; 
}


.nav-container {
    border-top: 1px solid black;
    /* margin: 10px; */
    order: 3;
    width: 100%;
    text-align: center;
}

.nav-container li a {
    text-decoration: none;
}

.brand-container {
    display: flex;
    height: auto;
    order: 1;
    width: 50%; 
}

.brand-container img {
    /* display: block; */
    width: 150px;
    height: 50px;

}

.cart-container img {
    /* display: block; */
    padding: 15px;
    width: 90px;
    height: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
}


.nav-bar li {
    display: inline-block;
    margin: 0 auto;
}

/* Banner */
.collection-container{
    text-align: center;
}

.banner-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0, 0, 0, 0.3)), 
    url(../images/banner-girl.png), 
    url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: center, center 100px, center;
    background-size: contain, contain, cover;
}

/* Style's containers */

.styles-container {
    display: flex;
    /* direction: row; */
    flex-wrap: wrap;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.styles-container a {
    align-self: center;
}

.category {
    display: flex;
    justify-content: center;
    /* height: 50%; */
    border: 3px solid white;
    width: 50%;
    height: 50vw;
}

.category:first-child,
.category:last-child {
    width: 100%;
}

.mens {
    background-image: url(../images/mens-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.trends {
    background-image: url(../images/trends-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.glasses {
    background-image: url(../images/glasses-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.sale {
    background-image: url(../images/sale-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.bags {
    background-image: url(../images/bags-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.womens {
    background-image: url(../images/womens-category.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* .styles-bottom-container {
    display: flex;
    direction: row;
} */



 /* Footer */



.icons {
    display: none;
}

/* .socialmedia {
    max-width: 33%;
    min-width: 100px;
} */






/* .aloha-img .cart-img {
    max-height: 100px;
} */

/* Banner */






@media screen and (min-width: 600px){
    /* only applies at 600px or greater */

.category {
        width: 25%;
        height: 25vw;
    }
    
.category:first-child,
.category:last-child {
        width: 50%;
    }

.smalltext: {
    margin: 10px;
}

.cart-container {
    order: 3;
    width: 25%; 
}


.nav-container {
    border-top: none;
    /* margin: 10px; */
    order: 2;
    width: 50%;
}

.brand-container {
    display: flex;
    height: auto;
    order: 1;
    width: 25%; 
}


.icons {
    display: inline-block;
    padding: 5px;
}
    
.header-container {
        box-sizing: border-box; 
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    } 

    
    .footer-text {
        width: 50%;
    }
    
    
    /* .fab-horizontal.socialmedia {
        flex-direction: column;
        width: 50%;
    } */
    
    .nav-list {
        border-top: none;
        width: 50%;
        order: 2;
        display: inline;
        justify-content: center;
        text-align: center;
        border: 1px solid black;
        align-content: center;
        text-align: center;
    } 
    
    
    
    .brand-container{
        width: 25%;
        order: 1;
    }
    
    .shopping-container{
        width: 25%;
        order: 3;
        text-align: right;
    }
    

    .footer-container {
            width: 100%;
            padding: 20px;
            flex-wrap: nowrap;
            align-content: space-between;
        }
    .socialmedia-container {
    width: 50%;
    align-content: flex-end;
    }

    .socialmedia-container .fab-horizontal {
        width: 50%;
        text-align: left;
        /* flex-wrap: wrap */
    }
    
    .footer-text .smalltext {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: left;
        
    }

.fab-horizontal {
    list-style: none;
}




@media screen and (min-width: 1240px){
     nav {
        width: 100%;
    } 
} 